<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>VideoCommentator · Phoenix Framework</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%=
          link "Video Commentator",
          to: Routes.page_path(@conn, :index),
          class: "navbar-brand"
        %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <%= if @current_user do %>
              <li class="nav-item active">
                <%=
                  link "My Videos",
                  to: Routes.video_path(@conn, :index),
                  class: "nav-link"
                %>
              </li>
              <li class="nav-item active">
                <%=
                  link "All Videos",
                  to: Routes.page_path(@conn, :index),
                  class: "nav-link"
                %>
              </li>
              <li class="nav-item active">
                <%=
                  link "Users",
                  to: Routes.user_path(@conn, :index),
                  class: "nav-link"
                %>
              </li>
              <li class="nav-item active">
                <%=
                  link "Log out",
                  to: Routes.session_path(@conn, :delete, @current_user),
                  method: "delete",
                  class: "nav-link"
                %>
              </li>
            <% else %>
              <li>
                <%=
                  link "Register",
                  to: Routes.user_path(@conn, :new),
                  class: "nav-link"
                %>
              </li>
              <li>
                <%=
                  link "Log in",
                  to: Routes.session_path(@conn, :new),
                  class: "nav-link"
                %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

    <div class="container mt-4">
      <div class="row">
        <div class="col">
           <%= show_flash(@conn) %>
        </div>
      </div>
      <%= render @view_module, @view_template, assigns %>
    </div>

    <script>window.userToken = "<%= assigns[:user_token] %>"</script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
