<div class="row"></div>
  <div class="col">
    <div class="card mx-auto" style="maxt-width: 30rem">
      <div class="card-header">Add New Video</div>
      <div class="card-body">
        <%=
          render "form.html",
          Map.put(assigns, :action, Routes.video_path(@conn, :create))
        %>
      </div>
    </div>
  </div>
</div>
